:root {
    --main-color: grey;
    --secondary-color: lightgreen;
}

section#main-content {
    margin-top: 0px;
    padding-top: 0px;
    min-height: 300px;

}

footer {
    margin-bottom: 20px;
    text-align: right;
}

body {
    background-color: #808080;
}

body div.well {
    background-color: darkgrey;
}

body div.form-actions {
    background-color: darkgrey;
}

hr.space {
    background-color: transparent;
    border-color: transparent;
}
.centered {
    text-align: center;
}

.form-search {
    text-align: right;
}

.large{
    width: 400px;
}

.big {
    height: 45px;
    min-width: 100px;
    font-size: 22px;
    margin-bottom: 10px;
}

form h1 {
    font-size: xx-large;
    padding-bottom: 10px;
}

.container {
    width: 950px;
}
a i {
    text-decoration:none !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.2em;
}

button.assign-to-me {
    border: 0;
    background-color: transparent;
    color: #2FA4E7;
    padding: 0;
}
button.assign-to-me:hover {
    color: #157AB5;
}

.correction-details dt {
    margin-top: 10px;
}
.correction-comments {
    margin-top: 10px;
    padding: 14px 19px 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.assignment-file {
    padding: 6px 20px 0px 4px;
    display: inline-block;
    font-weight: 500;
}

.dropdown-menu > li {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle; 
  display: block;

}

.dropdown-menu > li:hover {
    background-color: #2fa4e7;
}

.dropdown-menu > li > i {
  vertical-align: middle;
  display: inline;
}

.dropdown-menu > li > a {
  vertical-align: middle;
  display: inline;
  margin: 0;
  padding: 0;
}

.passed {
  color:green;
}


.failed {
  color:red;
}

.inline-text {
	display:inline;
}

/* Navigation bar */

.navbar-inner {
    background-color: var(--main-color);
    background-image: none;
    border: 1px solid var(--main-color);
}

.navbar .btn-navbar {
    background-color: var(--main-color);
    background-image: none;
    border-color: slategrey;
}

.navbar .btn-navbar .active {
    background-color: var(--main-color);
    background-image: none;
    border-color: slategrey;
}

.navbar .btn-navbar .active a {
    color: var(--secondary-color);
}

.navbar .btn-navbar .active a:hover, .navbar .btn-navbar .active a:focus {
    background-color: var(--secondary-color);
    background-image: none;
    border-color: darkseagreen;
}

.navbar .nav > li > a, .navbar .brand {
    color: var(--secondary-color);
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: green;
    background-color: darkgrey;
}

/* Navigations tabs */

.nav-tabs {
    border-color: slategrey;
}

.nav-tabs .active{
    background-color: slategrey;
    border-color: slategrey;
}

.nav-tabs .active a {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.nav-tabs a {
    color: var(--secondary-color);
}

.nav-tabs .active a:hover, .nav-tabs .active a:focus {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.nav-tabs a:hover, a:focus{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: var(--secondary-color) var(--secondary-color) var(--main-color);
    background-color: var(--main-color);
}

.nav-tabs > li {
    border-color: var(--secondary-color) var(--secondary-color) var(--main-color);
    background-color: var(--main-color);
}

.nav-tabs > li.active {
    border-color: var(--secondary-color) var(--secondary-color) var(--main-color);
    background-color: slategrey;
}

/* Buttons */

input#sign_in, .btn .btn-primary, input.btn.btn-primary {
    background-color: darkseagreen;
    background-image: none;
}

button.assign-to-me {
    color: green;
}

input.btn.btn-info {
    background-color: limegreen;
    background-image: none;
}

/* Text */

h1, h2, h3 {
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
}

a:hover, a:focus {
    color: darkseagreen;
}

p {
    color: var(--secondary-color);
}

p a {
    color: limegreen;
}

/* Tables */

.table tbody tr, .table-striped tbody > tr:nth-child(2n+1) > td {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.table-bordered td, .table tbody tr.error > td {
    background-color: var(--primary-color);
}

/* Alert */

.alert-success > a {
    color: green;
}

/* Form */

.form-horizontal textarea, .form-horizontal input, .form-horizontal select {
    background-color: lightgrey;
}