<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well">
        <h1>Alfred</h1>
        <p class="lead"></p><br/>
          <span class="span3">
            <%= image_tag "Alfred.jpg" %>
          </span>
          <span class="span6">
            <p>¡Bienvenido!</p>

            <p>
              Alfred es el sistema de gestión de trabajos prácticos de <strong>Ingenieria de Software</strong> y <strong>Programación con Objetos I</strong>.
              Mediante este sistema los docentes pueden publicar los trabajos prácticos, ejecutar automáticamente un set de prueba al momento de la entrega
              y finalmente calificarlos. Asimismo los alumnos pueden acceder a los trabajos que deben realizar, y entregar sus soluciones una vez completas.
            </p>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>
</header>

<br>

<div class="alert centered">
  Alfred está aún en construcción, si detectas algún error o tienes sugerencias, escríbenos a <%= mail_to ENV['MAIL_SUPPORT_ADDRESS'] %>.
</div>

<% unless current_account.is_enrolled?(Course.active) %>
  <div class="alert centered">
  <b>IMPORTANTE:</b> Uds. no está anotado en el curso activo '<%= Course.active.name %>'.  
    Para anotarse haga click 
    <%- form_tag url(:my, :enroll ), :method => :put, :style => 'display:inline' do %>
      <%= link_to t(:here), :onclick => "$(this).closest('form').submit()", :href => "#"  %>
    <% end %>
  </div>
<% end %>